<!-- chat.component.html -->
<div class="container">
  <div class="input-group">
    <label for="user">Utilisateur:</label>
    <input id="user" [(ngModel)]="user" placeholder="Entrez votre nom">
  </div>
  <div class="input-group">
    <label for="message">Message:</label>
    <input id="message" [(ngModel)]="message" placeholder="Entrez votre message">
  </div>
  <div class="button-group">
    <button (click)="sendMessage()">Envoyer</button>
  </div>
  <div class="messages">
    <h2>Messages:</h2>
    <ul>
      <li *ngFor="let msg of messages">{{msg.user}}: {{msg.content}}</li>
    </ul>
  </div>
</div>